<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Berhasil Login Test</title>
</head>

<body>
    <h1>Berhasil Login Bosqueee 🔅 </h1>
    <%- include('partial/navbar') %>
        <a href="/borrower/list">Data peminjam</a>
        <a href="/investor/showlist">SHOW DATA INVESTOR</a>
</body>

</html>