<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edutive</title>
</head>

<body style="background-color: rgb(237, 149, 41);">
    <nav>
        <button><a href="#">Home</a></button>
        <button><a href="/investor">Berikan Pendanaan</a></button>
        <button><a href="/borrower">Ajukan Pinjaman</a></button>
        <a href="/borrower/list">Data peminjam</a>
        <a href="/investor/showlist">Data investor</a>
    </nav>
    <br><br><br>
    <h1>Edutive</h1>
    <p1>Tahun 2021 menjadi awal mula perjalanan Edutive. Kami hadir memfasilitasi kebutuhan finansial dalam
        mendapatkan pinjaman dana pendidikan secara mudah dan cepat, lewat platform berbasis peer-to-peer lending
        (P2P Lending).
        <br>
        Memanfaatkan teknologi informasi yang terus berkembang, kami bergerak melayani masyarakat dengan kebutuhan
        pendidikan yang belum terlayani,
        menghubungkan antara investor dengan masyarakat, yang ingin mewujudkan mimpinya dalam mencapai impian masa
        depan,
        sekaligus memberikan dampak sosial bagi masyarakat.
        <br>
        Dengan keinginan dan tekad yang kuat, kami percaya bahwa setiap orang punya kesempatan mendapatkan akses dan
        mewujudkan impiannya dalam mencapai pendidikan dengan kebebasan finansial.
    </p1>
</body>

</html>