<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>thank you</title>
</head>

<body>
    <%- include('partial/navbar') %>
        <br><br>
        <p1>
            data sudah diterima, silahkan tunggu konfirmasi selanjutnya
        </p1>
</body>

</html>