<nav> <a href='/'>
    <h1>WELCOME TO EDUTIVE</h1> 
      </a>
    <p>From US For Us</p>
    <p>Education Without Barrier</p>
    
    <img src="PinClipart.com_laptop-clipart-png_5338483.png" alt="Trulli" width="500" height="333"style="float:right;margin:900px,0px">
    <a href="/add">add test</a>
  

</nav>